<div class="container">
  <h1>Conversor de Ouro Real / Tibar</h1>
  <div class="card">
    <form [formGroup]="conversionForm">
      <mat-form-field floatLabel="always" hideRequiredMarker>
        <mat-label>Quantidade</mat-label>
        <input
          matInput
          type="number"
          min="0"
          placeholder="0"
          formControlName="amount"
        />
      </mat-form-field>
      <mat-form-field hideRequiredMarker>
        <mat-label>De</mat-label>
        <input
          matInput
          formControlName="sourceCurrency"
          readonly
          class="readonly-input"
          inert
        />
      </mat-form-field>
      <button
        mat-fab
        color="white"
        class="swap-button"
        (click)="swapCurrency()"
      >
        <mat-icon>swap_horiz</mat-icon>
      </button>
      <mat-form-field hideRequiredMarker>
        <mat-label>Para</mat-label>
        <input
          matInput
          formControlName="targetCurrency"
          readonly
          class="readonly-input"
          inert
        />
      </mat-form-field>
    </form>
    <div class="actions">
      <div class="values">
        <p class="from-value">{{ amount }} {{ getSourceCurrency() }} =</p>
        <p class="to-value">{{ convertedAmount }} {{ getTargetCurrency() }}</p>
        <p class="base-value">1 Ouro real = {{ conversionRate }} Tibares</p>
        <p class="base-value">
          1 Tibar = {{ 1 / conversionRate | number : "0.2-2" }} Ouro Real
        </p>
        <button mat-button color="primary" (click)="openDialog()">
          Atualizar taxa
        </button>
      </div>
      <button
        mat-raised-button
        color="primary"
        class="convert-button"
        (click)="convertCurrency()"
      >
        Converter
      </button>
    </div>
  </div>
</div>
