.container {
  width: 60%;
  margin: 8rem auto 2rem;

  @media screen and (max-width: 992px) {
    width: 80%;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  @media screen and (max-width: 576px) {
    width: 100%;
    margin: 2rem 0 0;
  }
}

h1 {
  color: var(--white);
  text-align: center;
}

p {
  margin: 0;
  color: #5c667b;
}

.card {
  min-height: 12vh;
  width: 100%;
  padding: 2rem;
  background: var(--white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1.5rem;

  @media screen and (max-width: 576px) {
    border-radius: 0;
    box-shadow: none;
  }
}

.form-fields {
  display: flex;
  gap: 0.5rem;

  @media screen and (max-width: 769px) {
    flex-direction: column;
  }
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.actions {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 769px) {
    flex-direction: column;

    button {
      width: 100% !important;
    }
  }
}

mat-form-field {
  flex: 1;
  mat-label {
    font-size: 0.875rem;
  }

  input {
    font-size: 1.5rem;
  }
}

.from-value {
  font-size: 1rem;
}

.to-value {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 10px 0;
  color: var(--typography-default);
}

.base-value {
  font-size: 0.875rem;
}

.convert-button {
  height: 48px;
  width: 234px;
}

.swap-button {
  margin-top: 0.875rem;
  width: 40px;
  height: 40px;

  @media screen and (max-width: 769px) {
    transform: rotate(270deg);
    margin: 0 auto;
    width: 50px;
    height: 50px;
    margin-top: -12px;
    margin-bottom: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 0 8px 0;
  }
}

.readonly-input {
  cursor: default;
}
