:root {
  --typography-default: #2e3c57;
  --white: #fafafa;
}

div {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--white);
}

.mat-white {
  background-color: var(--white);
  color: var(--typography-default);
}

.center-spinner {
  margin: 200px auto;
}
