@use "@angular/material" as mat;

$custom-primary: mat.define-palette(
  (
    50: mix(#2e3c57, #ffffff, 90%),
    100: mix(#2e3c57, #ffffff, 70%),
    200: mix(#2e3c57, #ffffff, 50%),
    300: mix(#2e3c57, #ffffff, 30%),
    400: mix(#2e3c57, #ffffff, 10%),
    500: #2e3c57,
    600: mix(#2e3c57, #000000, 10%),
    700: mix(#2e3c57, #000000, 30%),
    800: mix(#2e3c57, #000000, 50%),
    900: mix(#2e3c57, #000000, 70%),
    A100: mix(#2e3c57, #ffffff, 50%),
    A200: #2e3c57,
    A400: mix(#2e3c57, #000000, 30%),
    A700: mix(#2e3c57, #000000, 50%),
    contrast: (
      50: black,
      100: black,
      200: black,
      300: white,
      400: white,
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: black,
      A200: white,
      A400: white,
      A700: white,
    ),
  )
);

$custom-accent: mat.define-palette(mat.$orange-palette, A200);
$custom-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
  )
);

@include mat.all-component-themes($custom-theme);

:root {
  --typography-default: #2e3c57;
  --white: #fafafa;
}

div {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--white);
}

.mat-white {
  background-color: var(--white);
  color: var(--typography-default);
}

.center-spinner {
  margin: 200px auto;
}
